.aboutSectionContainer{
    height: 100vh;
    background: var(--black);
    display: grid;
    grid-template-columns: 33% 67%;
    
}


.leftSection{
    /* background: #1e1e22; */
    background: var(--grey);
    
}
.aboutPic{
    
    position: relative;
    /* height: 85vh; */
    top: 12%;
    left: 55%;
    height: 42vw;
    /* width: 31vw; */
    /* transform: translate(60%,10%); */
    border: 10px solid #2e2e33;
    transition: ease all 0.5s;
}
.aboutPic:hover{
    transform: scale(1.01);
    /* border-radius: 5%; */
    transition: ease all 0.5s;
}

.rightSection{
    /* background: #17171b;
     */
    background: var(--black);
}

.aboutTextDiv{
    font-family: 'Playfair Display', serif;
    line-height: 0.5em;

    color: rgb(226, 223, 223);
    
    display: flex;
    flex-direction: column;
    text-align:justify;
    align-content: center;
    width: 35vw;
    /* transform: translate(85%,50%); */
    left:36%;
    top: 18%;
    /* margin-left: -160px; */
    font-size: 1.5rem;
    font-family:  'Playfair Display', serif;
    position: relative;
    /* background:violet; */
    /* line-height:0px; */
    
    
    
}
.aboutTextDiv span{
    color:var(--orangeLight);
    
}

.aboutParagraph{
    text-align: justify;
    font-size: 1.0vw;
    line-height: 120%;
    color: rgb(180, 177, 177);
    
}
.aboutParagraph .gitHubLink{
    color:var(--orangeLight);
    text-decoration: none;
}
.skillsLink{
    text-decoration: none;
}
.skillsLink:hover, .gitHubLink:hover{
    cursor: pointer;
}

.aboutList{
    list-style: none;
    line-height: 120%;
    font-size: 0.7em;
    padding: 0;
    padding-top: 20px;
}
.aboutList li{
    /* padding-top: 10px; */
    width: 450px;
    display: grid;
    
    align-content: center;
    /* justify-content: center; */
    height: 3.0vh;
    grid-template-columns: 30% 60%;
    /* background: rebeccapurple; */
}

.aboutList li h4{
    font-size: 0.8em;
}
.aboutList li h5{
    font-size: 0.8em;
    color:rgb(180, 177, 177) ;
}

.downloadResumeButton{
    font-size: 0.7em;
    background: var(--orangeLight);
    width: fit-content;
    height: fit-content;
    padding: 15px 20px;
    margin-top:7%;
    border-radius: 0%;
    transition: ease all 0.5s;
}
.downloadResumeButton a{
    text-decoration: none;
    color: white;
}
.downloadResumeButton a:hover{
    cursor: pointer;
}
.downloadResumeButton:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: ease all 0.5s;
}

@media only screen and (min-width: 1700px){
    .aboutTextDiv{
        font-family: 'Playfair Display', serif;
        line-height: 0.5em;
        color: rgb(226, 223, 223);
        display: flex;
        flex-direction: column;
        text-align:justify;
        align-content: center;
        width: 35vw;
        /* transform: translate(85%,50%); */
        left:36%;
        top: 18%;
        /* margin-left: -160px; */
        font-size: 1.7vw;
        font-family:  'Playfair Display', serif;
        position: relative;
        /* background:violet; */
        /* line-height:0px; */
        
        
        
    }
    
}