
.backToTopButton{
    background:none;
    position: fixed;
    z-index: 200;
    font-size: 3em;
    color: #d4912c38;
    right: 2%;
    bottom:0.5%;
    transition: ease all 0.5s;
}
.backToTopButton:hover{
    /* font-size: 10em; */
    /* color: #e16328be; */
    color: var(--orange);
    cursor: pointer;
    transition: ease all 0.5s;
    transform: scale(1.3);
}
