/* play with vars for different effets */
:root {
    --color-cursor: 222, 90, 90;
    
    /* --color-cursor: rgb(214, 145, 55); */
    --cursor-outline-shade: 0.3;
    --cursor-size: 15px;
    --cursor-outline-size: 25px;
  }
  
  
  html *,
  body * {
    cursor: none;
    
  }
  
  #app {
    text-align: center;
  }
  
  
  
  
  #cursor-dot,
  #cursor-dot-outline {
    z-index: 999;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
  }
  
  #cursor-dot {
    width: var(--cursor-size);
    height: var(--cursor-size);
    background-color: rgba(214,145,55, 1);
  }
  
  #cursor-dot-outline {
    width: var(--cursor-outline-size);
    height: var(--cursor-outline-size);
    background-color: rgba(214,145,55, var(--cursor-outline-shade));
  }
  