html, body {
    height: 100%;
    margin: 0;
}
.disabledSectionContainer{
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background: darkcyan;
    display: flex;
    position: relative;
}

.disabledSectionContainer .messageContainer{
    
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    

    .disabledSectionContainer{
     background: url('../images/bluecollar_dancing.gif'), rgb(104, 102, 102);
     background-blend-mode:multiply;
     background-position: center;
    }
    .disabledSectionContainer .messageContainer{
        color: white;
        font-size: 10vw;
        width: 80vw;
        right: 50%;
        margin-right: -40vw;
        top: 50%;
        height: 40vh;
        margin-top: -20vh;
        position: absolute;
        /* transform: translate(10%,30%); */
        /* background: rgba(100, 100, 100, 0.342); */
    }

    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .disabledSectionContainer{
        background: url('../images/bluecollar_dancing.gif'), rgb(104, 102, 102);
        background-blend-mode:multiply;
        background-position: center;
       }
       .disabledSectionContainer .messageContainer{
           color: white;
           font-size: 10vw;
           width: 80vw;
           right: 50%;
           margin-right: -40vw;
           top: 50%;
           height: 40vh;
           margin-top: -20vh;
           position: absolute;
           /* transform: translate(10%,30%); */
           /* background: rgba(100, 100, 100, 0.342); */
       }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .disabledSectionContainer{
        background-color:rebeccapurple ;
        background: url('../images/bluecollar_dancing.gif'), rgb(104, 102, 102);
        background-blend-mode:multiply;
        background-position: center;
       }
       .disabledSectionContainer .messageContainer{
           color: white;
           font-size: 7vw;
           width: 80vw;
           right: 50%;
           margin-right: -40vw;
           top: 50%;
           height: fit-content;
           margin-top: -40vh;
           position: absolute;
           /* transform: translate(10%,30%); */
           /* background: rgba(100, 100, 100, 0.342); */
       }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 992px) and (min-height:1200px) {
    .disabledSectionContainer{
        background:violet ;
        /* background: url('../images/bluecollar_dancing.gif'), rgb(104, 102, 102);
        background-blend-mode:multiply;
        background-position: center; */
       }
       .disabledSectionContainer .messageContainer{
           color: white;
           font-size: 10vw;
           width: 80vw;
           right: 50%;
           margin-right: -40vw;
           top: 50%;
           height: 40vh;
           margin-top: -20vh;
           position: absolute;
           /* transform: translate(10%,30%); */
           /* background: rgba(100, 100, 100, 0.342); */
       }
}