.navbarContainer{
    width: 100%;
    height: 10vh;
    display: flex;
    position: sticky;
    position: fixed;
    top: 0%;
    z-index: 999;
    transition: background-color 0.5s ease;
    background: none;
}
.navbarContainer--active{
     background-color: var(--darkBlue );
     /* background: chocolate; */
     width: 100%;
    height: 4em;
    height: 8vh;
    display: flex;
    z-index: 990;
    position: sticky;
    position: fixed;
    transition: background-color 0.5s ease;
}

.textContainer{
    text-transform: uppercase;
    /* font-family:  'Playfair Display', serif; */
    font-family: 'Saira Condensed', sans-serif;
    text-decoration: none;
    /* background-color: darkgreen; */
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -2%;
    height: 200px;
    margin-left: -30%;
    /* position: fixed; */
    width: 60%;
    z-index: 990;
    transition: ease all 1s;
}
.textContainer--active{
    top:50%;
    margin-top: -2%;
    text-transform: uppercase;
    font-family: 'Saira Condensed', sans-serif;
    /* font-family:  'Playfair Display', serif; */
    text-decoration: none;
    /* background-color: darkgreen; */
    position: absolute;
    left: 50%;
    height: 200px;
    margin-left: -30%;
    /* position: fixed; */
    width: 60%;
    z-index: 999;
    transition:  ease all 1s;
    z-index: 990;
}

.textList{
    list-style: none;
    text-decoration: none;
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap: 0%;
}

.textList li {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    transition: 0.7s ease all;
    z-index: 990;
}
.textList li:hover {
    cursor: pointer;
}

.textList li.active {
    /* background-color: crimson; */
    transition: 0.7s ease all;
    color: #fff;
    /* background-color: rgb(243,175,86); */
    color: rgb(243, 175, 86);
    font-size: 1.2em;
    transform:scale(1.2) ;
    z-index: 990;
    font-weight: bolder;
  }


  




  